// FOOTER

footer {
  position: relative;
  background-color: #353535;
  padding: 30px 25px;
  .footer__logo {
    p {
      margin-bottom: 30px;
      font-family: "Shrikhand", cursive;
    }
  }

  .footer__proposition {
    display: flex;
    .logo {
      width: 20px;
      .fa-utensils {
        color: white;
      }
    }
    p {
      margin-left: 10px;
    }
  }

  .footer__partenaire {
    display: flex;
    .logo {
      .fa-hands-helping {
        color: white;
      }
    }
    p {
      margin-left: 10px;
    }
  }

  p {
    margin-bottom: 15px;
  }
}

// FIN FOOTER
