// PAGE MENU

.menuPage {
  // HEADER

  header {
    position: relative;
    height: 60px;

    .header__logo {
      display: flex;
      align-items: center;

      h1 {
        width: 100%;
        line-height: 70px;
      }

      .retour {
        position: absolute;
        left: 5%;

        .fa-arrow-left {
          font-size: 23px;
          color: #353535;
        }
      }
    }

    .header__image {
      img {
        width: 100%;
        height: auto;
        margin-top: -10px;
      }
    }
  }

  // FIN HEADER

  // MENU

  #menu {
    margin-top: 160px;
    position: relative;
    z-index: 1;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;

    .centre {
      animation: fadeIn 1s;
      .menu__titre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        h1 {
          font-size: 1.5em;
        }

        // ANIMATION COEUR

        .carte__coeur {
          margin-right: 20px;

          .carte__coeur--noBg,
          .carte__coeur--bg {
            position: absolute;
            top: 40px;
            bottom: 0;
            right: 6%;
            cursor: pointer;
            height: 22px;
            .fa-heart {
              font-size: 22px;
            }
          }

          .carte__coeur--noBg .noBg {
            opacity: 1;
          }

          .carte__coeur--bg .bg {
            opacity: 0;
          }

          &:target,
          &:hover {
            .carte__coeur--bg .bg {
              opacity: 1;
              background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all 4s;
            }
            .carte__coeur--noBg .noBg {
              opacity: 0;
              transition: all 5s;
            }
          }
        }
      }

      // CARTES

      .menu {
        margin-bottom: 40px;

        &:nth-child(2) {
          animation: fadeIn 1.7s;
        }
        &:nth-child(3) {
          animation: fadeIn 3.4s;
        }
        &:nth-child(4) {
          animation: fadeIn 5.1s;
        }

        .menu__menu__titre {
          h4 {
            &::after {
              content: "";
              display: block;
              width: 40px;
              height: 2px;
              background-color: $tertiaire;
              margin: 5px 0 20px;
            }
          }
        }

        .carte {
          background-color: white;
          padding: 10px 0;
          margin-bottom: 20px;
          border-radius: 15px;
          position: relative;
          box-shadow: 0px 8px 7px -5px #bdbdbd;

          h3 {
            margin-bottom: 5px;
            margin-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          h4 {
            margin-left: 10px;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 80%;

            strong {
              position: absolute;
              bottom: 10px;
              right: 20px;
              margin-left: 20px;
            }
          }

          .carte__valide {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $tertiaire;
            border-radius: 0 15px 15px 0;
            opacity: 0;

            i {
              color: White;
              width: 0;
              height: 62px;
              text-align: center;
              line-height: 62px;
            }
          }

          &:hover {
            .carte__valide {
              opacity: 1;
              transition: 500ms;

              i {
                transform: rotate(720deg);
                width: 60px;
                transition: all 500ms;
              }
            }
          }

          &:hover {
            h3 {
              width: 70%;
              transition: 500ms;
            }
          }

          &:hover {
            h4 {
              width: 65%;
              transition: 500ms;
            }
          }

          &:hover {
            h4 {
              strong {
                right: 70px;
                transition: 500ms;
              }
            }
          }
        }

        // DELAI CARTES

        .delay--1 {
          animation: fadeInUp 2500ms;
          animation-delay: 800ms;
        }
        .delay--2 {
          animation: fadeInUp 2500ms;
          animation-delay: 1100ms;
        }
        .delay--3 {
          animation: fadeInUp 2500ms;
          animation-delay: 1400ms;
        }
        .delay--4 {
          animation: fadeInUp 2500ms;
          animation-delay: 2600ms;
        }
        .delay--5 {
          animation: fadeInUp 2500ms;
          animation-delay: 2900ms;
        }
        .delay--6 {
          animation: fadeInUp 2500ms;
          animation-delay: 3100ms;
        }
        .delay--7 {
          animation: fadeInUp 2500ms;
          animation-delay: 3400ms;
        }
        .delay--8 {
          animation: fadeInUp 2500ms;
          animation-delay: 3700ms;
        }
        .delay--9 {
          animation: fadeInUp 2500ms;
          animation-delay: 4000ms;
        }
        .delay--10 {
          animation: fadeInUp 2500ms;
          animation-delay: 4300ms;
        }
      }

      // FIN CARTES

      // BOUTON

      .menu__bouton {
        width: 100%;
        text-align: center;
        button {
          appearance: none;
          border-width: 0;
          background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
          background-color: #ff79d9;
          border-radius: 28px;
          display: inline-block;
          cursor: pointer;
          color: #ffffff;
          font-family: "Roboto", sans-serif;
          font-size: 17px;
          padding: 16px 50px;
          text-decoration: none;
          box-shadow: 0px 8px 7px -5px #a3a3a3;
          margin-bottom: 55px;

          &:hover {
            background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
            box-shadow: 0px 8px 7px -5px #757575;
          }
        }
      }
    }
  }

  // FIN MENU
}

// APPARITION CARTES EFFET VERS LE HAUT

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

// FIN APPARITION CARTES EFFET VERS LE HAUT

// APPARITION ENTREES PLATS DESSERTS

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 360px) {
  .menuPage {
    #menu {
      margin-top: 200px;
    }
  }
}

// RESPONSIVE TABLETTE

@media (min-width: 768px) {
  .menuPage {
    header {
      .header__logo {
        h1 {
        }

        .retour {
          .fa-arrow-left {
          }
        }
      }

      .header__image {
        img {
        }
      }
    }

    #menu {
      margin-top: 200px;
      position: relative;
      z-index: 1;
      background-color: #f6f6f6;
      border-radius: 40px 40px 0 0;

      .centre {
        .menu__titre {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 40px 0;
          width: 100%;

          h1 {
            font-size: 1.75em;
          }

          i {
          }
        }

        .menu {
          margin-bottom: 40px;
          width: 100%;
          margin: 0 auto;

          .menu__menu__titre {
            h4 {
              &::after {
              }
            }
          }

          .carte {
            h3 {
            }

            h4 {
              strong {
              }
            }

            .carte__valide {
              i {
              }
            }

            &:hover {
              .carte__valide {
                i {
                }
              }
            }

            &:hover {
              h3 {
              }
            }

            &:hover {
              h4 {
              }
            }

            &:hover {
              h4 {
                strong {
                }
              }
            }
          }
        }

        .menu__bouton {
          button {
          }
        }
      }
    }
  }
}

// DESKTOP

@media (min-width: 992px) {
  .menuPage {
    header {
      .header__logo {
        h1 {
        }

        .retour {
          .fa-arrow-left {
          }
        }
      }

      .header__image {
        height: 450px;
        overflow: hidden;
        img {
        }
      }
    }

    #menu {
      margin-top: 400px;
      .centre {
        display: flex;
        flex-wrap: wrap;

        .menu__titre {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 40px 0;
          width: 100%;

          h1 {
            font-size: 1.75em;
          }

          i {
          }
        }

        .menu {
          margin-bottom: 40px;
          width: 30%;
          margin: 0 auto;
          .menu__menu__titre {
            h4 {
              &::after {
              }
            }
          }

          .carte {
            h3 {
            }

            h4 {
              strong {
              }
            }

            .carte__valide {
              i {
              }
            }

            &:hover {
              .carte__valide {
                i {
                }
              }
            }

            &:hover {
              h3 {
              }
            }

            &:hover {
              h4 {
              }
            }

            &:hover {
              h4 {
                strong {
                }
              }
            }
          }
        }

        .menu__bouton {
          button {
          }
        }
      }
    }
  }
}
